body {
  font-family: "Roboto", sans-serif;
}

html, body {
  background-image: url("../img/background3.png");
  background-repeat: no-repeat;
background-color: #1F1F1F!important;
background-size: 500px;
background-position: right top;
background-attachment: fixed;
font-size: 18px;
font-weight: 300;
line-height: 150%;
}

.tile.is-parent, .tile.is-ancestor {
  padding-left: 0!important;
  padding-right: 0!important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.tile {
  border-radius: 0!important;
}

.tile > article {
  min-height: 250px;
}

.project1 {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 300px;
  opacity: 0;
  padding: 1.25em;
}

.overlay:hover {
  opacity: .5;
}

.overlay:hover {
  background-color: black;
}

.divider {
  height: 8rem;
  background-color: transparent;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

}
